.centering {
  height: auto;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 71px;
  height: 36px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1C1D21;
  border-radius: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background: #3D3F47;
  border-radius: 50%;
  left: 8px;
  bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background: #8D8E38;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  transform: translateX(30px);
}

input:focus + .slider {
}
