.container {
  width: 199px;
  height: 189px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgVector {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.img {
  align-self: center;
  top: 11px;
}

.light {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #60CAEA;
  filter: blur(6px);
  z-index: 2;
}


.type {
  color: #72C8D8;
  font-size: 13px;
  font-weight: 700;
}

.name {
  color: #646465;
  font-size: 13px;
}

.typeAndName {
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 5;
}

.rectangle {
  position: absolute;
  width: 20px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #72C8D8;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #72C8D8 0%, rgba(20, 21, 24, 0) 100%);
  opacity: 0.3;
  z-index: 1;
  top: 0;
}

.price {
  color: #00B876;
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.status {
  background: #137B2A;
  border-radius: 6px;
  width: 21px;
  height: 21px;
  color: #07F064;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Inter', serif;
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToContract {
  width: 161px;
  height: 33px;
  background: #DD9A36;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 11px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: none;
  transition-duration: 0.2s;
  text-transform: uppercase;
}

.addToContract:hover {
  background: #AFA362;
}

.addToContract:active {
  background: #897F4B;
}

.disabled {
  position: absolute;
  background: #3E3E3E;
  mix-blend-mode: color;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  z-index: 11;
}
